.Weather {
    border: 1px solid #D9DCE0;
    border-radius: 5px;
    padding: 20px;
    background-color: #007380;
    border-radius: 4px;
}

.Weather h1 {
    font-size: 44px;
    margin-bottom: 20px;
    margin-left: 20px;
}


.Weather h1 bi{
    font-size: 12px;

}
.Weather form {
    margin-bottom: 20px;
}

.btn{
    background-color:#99C7CC;
}


.temperature {
    font-size: 60px;
    font-weight: 400;
    padding-left: 10px;
}

.left .unit {
    position: relative;
    top: -20px;
}

.left {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    gap: 10px;

}

#root>div>div>div>div>div.WeatherInfo>div>div:nth-child(1)>div>canvas {
    height: 50px;
}

.Weather li {
    color: white;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
}

.Weather h3 {
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;

}

.Weather .description li {
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    font-size: 1.1rem;
}

  .detail-weather {
    text-align: left;
  }
  
  .detail-weather ul {
    padding-left: 20px;
  }
